* {
    box-sizing: border-box;
  }

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 402px;
    width: 402px;
}
.grid {
    border: 1px solid black;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}
.grid:hover{
    background-color: blue;
}

button {
    cursor: pointer;
    padding: 8px 36px;
    border-radius: 5px;

    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  
  }

